<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block>
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </th:block>
</head>
<body>
<!-- Responsive navbar-->
<th:block layout:fragment="content">
    <!-- Page content-->
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <div class="text-center mt-5">
                <body>
                <div class="login-wrapper">
                    <h3>로그인</h3>
                    <form method="post" action="/account/login" id="login-form" th:object="${user}">
                        <div>
                            <label>아이디</label>
                            <input type="text" name="userId" placeholder="Id">
                        </div>
                        <div>
                            <label>비밀번호</label>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <br/>
                        <input type="submit" value="Login">
                    </form>
                </div>
                </body>

            </div>
        </div>
    </th:block>
</th:block>

</body>
</html>
