<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block>
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </th:block>
</head>
<body>
<!-- Responsive navbar-->
<th:block layout:fragment="content">
    <!-- Page content-->
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <div class="text-center mt-5">
                <body>
                <div class="login-wrapper">
                    <h3>로그인</h3>
                    <form method="post" action="/account/login" id="login-form" th:object="${user}">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">아이디</span>
                            <input type="text" class="form-control" placeholder="아이디를 입력하세요" name="userId"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">비번</span>
                            <input type="password" class="form-control" placeholder="비밀번호를 입력하세요" name="password"
                                   aria-describedby="basic-addon1">
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                </body>

            </div>
        </div>
    </th:block>
</th:block>

</body>
</html>
