<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/basic}"
        xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <th:block>
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    </th:block>
</head>
<body>
<!-- Responsive navbar-->
<th:block layout:fragment="content">
    <!-- Page content-->
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <body>
            <div class="login-wrapper">
                <h3>글 작성</h3>
                <br/>

                <div>
                    <label>제목 :</label>
                    <a type="text" th:text="${boardInfo.title}" name="title"/>
                </div>
                <div>
                    <label>작성자 :</label>
                    <a th:text="${boardInfo.user.userName}" id="username"/>
                    <!--                        <input type="hidden" name="username" class="form-control" id="inputUsername" th:value="${username}">-->
                </div>
                <br/>
                <div style="border:1px solid; padding:10px;">
                    <label>내용 :</label>
                    <a cols="50" rows="5" th:text="${boardInfo.getContent().toString()}"
                       name="content"></a><br/>
                </div>
                <br/>

                <button sec:authorize="isAuthenticated()"
                        th:if="${userId == boardInfo.user.userId}"
                        th:onclick="'location.href=\''+ @{/board/update(id=${board.id})} + '\''">수정
                </button>

                <form method="POST" action="/board/delete">
                    <input type="hidden" th:value="${boardInfo.id}" name="boardId"/>
                    <button type="submit"
                            th:if="${userId == boardInfo.user.userId or userRole=='ROLE_ADMIN'}"
                            th:onclick="'location.href=\''+ @{/board/delete(id=${board.id})} + '\''">삭제
                    </button>
                </form>

<!--                <table class="table table-hover">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>#</th>-->
<!--                        <th>댓글</th>-->
<!--                        <th>작성자</th>-->
<!--                        <th>작성시간</th>-->
<!--                        <th></th>-->
<!--                        <th></th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="comments:${list}">-->
<!--                        <td th:text="${comments.id}">1</td>-->
<!--                        <td>-->
<!--                            <a th:text="${comments.content}"></a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:text="${comments.user.userName}"></a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:text="${comments.createdDate}"></a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <button sec:authorize="isAuthenticated()"-->
<!--                                    th:if="${userId == comments.user.userId}"-->
<!--                                    th:onclick="'location.href=\''+ @{/comments/update(id=${board.id})} + '\''">수정-->
<!--                            </button>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <form method="POST" action="/board/delete">-->
<!--                                <input type="hidden" th:value="${comments.id}" name="boardId"/>-->
<!--                                <button type="submit"-->
<!--                                        th:if="${userId == comments.user.userId or userRole=='ROLE_ADMIN'}"-->
<!--                                        th:onclick="'location.href=\''+ @{/comments/delete(id=${board.id})} + '\''">삭제-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            </div>
            </body>
        </div>
        <button onclick="location.href='/'">목록</button>
    </th:block>
</th:block>
</body>
</html>
