<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragments/basic}"
    xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">
    <div class="table-responsive clearfix">
        <div class="layout">
            <table class="table table-hover">
                <thead>
                <tr class="table-secondary">
                    <th>#</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성시간</th>
                    <th>조회수</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board:${list}">
                    <td th:text="${board.id}">1</td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/boards/{id}(id = ${board.id})}" ></a>
                    </td>
                    <td>
                        <a th:text="${board.user.userName}" th:href="@{/boards/{id}(id = ${board.id})}"></a>
                    </td>
                    <td>
                        <a th:text="${board.createdDate}" th:href="@{/boards/{id}(id = ${board.id})}"></a>
                    </td>
                    <td>
                        <a th:text="${board.getViews()}" th:href="@{/boards/{id}(id = ${board.id})}"></a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" sec:authorize="isAuthenticated()"
                                th:onclick="'location.href=\''+ @{/boards/{id}(id = ${board.id})} + '\''">상세보기
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()" onclick="location.href='/boards/new'">글쓰기</button>
            <div style="text-align: center">
                <th:block th:each="page:${#numbers.sequence(startPage,endPage)}" >
                    <a th:if="${page != nowPage}" th:href="@{/boards/list(page=${page-1})}" th:text="${page}"></a>
                    <strong th:if="${page==nowPage}" th:text="${page}" style="color:red"></strong>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</html>