<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/basic}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">

    <div class="w-25 p-3">
        <form th:action="@{/search/list}" method="get">
            <div class="input-group">
                <input type="text" class="form-control mr-sm-2" placeholder="제목을 입력하세요" name="searchKeyword">
                <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            </div>
        </form>
    </div>

    <div class="table-responsive clearfix">
        <div class="layout">
            <table class="table table-hover">
                <thead>
                <tr class="table-secondary">
                    <th>#</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성시간</th>
                    <th>조회수</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="boards:${list}">
                    <td th:text="${boards.id}">1</td>
                    <td>
                        <a th:text="${boards.title}" th:href="@{/boards/{id}(id = ${boards.id})}"></a>
                    </td>
                    <td>
                        <a th:text="${boards.user.userName}" th:href="@{/boards/{id}(id = ${boards.id})}"></a>
                    </td>
                    <td>
                        <a th:text="${boards.createdDate}" th:href="@{/boards/{id}(id = ${boards.id})}"></a>
                    </td>
                    <td>
                        <a th:text="${boards.getViews()}" th:href="@{/boards/{id}(id = ${boards.id})}"></a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" sec:authorize="isAuthenticated()"
                                th:onclick="'location.href=\''+ @{/boards/{id}(id = ${boards.id})} + '\''">상세보기
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()"
                    onclick="location.href='/boards/new'">글쓰기
            </button>
            <div style="text-align: center">
                <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
                    <a th:if="${page != nowPage}" th:href="@{/boards/list(page=${page-1})}" th:text="${page}"></a>
                    <strong th:if="${page==nowPage}" th:text="${page}" style="color:#5bb7d9"></strong>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</html>