<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/basic}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <body>
            <div class="login-wrapper">
                <h3>글 작성</h3>
                <br/>
                <form method="post" action="/boards" th:object="${board}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="boardTitle" name="title" placeholder="제목을 입력하세요">
                    </div>
                    <div class="mb-1 row">
                        <label for="boardAuthor" class="col-sm-1 col-form-label">작성자: </label>
                        <div class="col-sm-2">
                            <input type="text" readonly class="form-control-plaintext" id="boardAuthor" name="author"
                                   th:value="${userName}">
                        </div>
                    </div>
                    <div>
                        <textarea class="summernote" id="summernote" name="content"></textarea>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile" name="files" multiple>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-secondary" type="button" onclick="location.href='/'">목록</button>
                        <button type="submit" id="saveButton" class="btn btn-primary">등록</button>
                    </div>
                </form>

            </div>
            </body>
        </div>

    </th:block>
</th:block>
<th:block layout:fragment="script">
    <script src="/js/makeBoard.js"></script>
</th:block>
</html>
