<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Responsive navbar-->
<th:block layout:fragment="content">
    <!-- Page content-->
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <body>
            <div class="login-wrapper">
                <h3>글 작성</h3>
                <br/>
                <form method="POST" action="/boards/new" th:object="${board}">
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="boardTitle" name="title" placeholder="제목을 입력하세요">
                    </div>

                    <div class="mb-1 row">
                        <label for="boardAuther" class="col-sm-1 col-form-label">작성자: </label>
                        <div class="col-sm-2">
                            <input type="text" readonly class="form-control-plaintext" id="boardAuther" name="userName"
                                   th:value="${userName}">
                        </div>
                    </div>
<!--                    <hr/>-->
                    <div>
<!--                        <label for="summernote" class="form-label">내용</label>-->
                        <textarea class="summernote" id="summernote" name="content"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-secondary" type="button" onclick="location.href='/boards'" >목록</button>
                        <button type="submit" class="btn btn-primary" >등록</button>
                    </div>
                </form>
            </div>
            </body>
        </div>

    </th:block>
</th:block>

<!-- Bootstrap core JS-->

<th:block layout:fragment="script">
    <script>
        // 메인화면 페이지 로드 함수
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '내용을 작성하세용❤️',
                height: 400,
                maxHeight: 400
            });
        });
    </script>
</th:block>

</html>
