<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/basic}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <div class="login-wrapper">
                <h3>글 수정</h3>
                <br/>
                <form method="POST" action="/boards/update" th:object="${boardInfo}">
                    <input type="hidden" name="_method" value="PUT"/>
                    <div>
                        <label>제목 :</label>
                        <input type="text" th:value="${boardInfo.title}" name="title"/>
                    </div>
                    <div>
                        <label>작성자 :</label>
                        <input class="" th:value="${userName}" id="userName" disabled/>
                        <input type="hidden" name="userName" class="form-control" id="inputUsername"
                               th:value="${userName}">
                    </div>
                    <br/>
                    <div>
                        <label>내용 :</label>
                        <textarea cols="50" rows="5" th:utext="${boardInfo.getContent().toString()}"
                                  id="summernote" name="content"></textarea><br/>
                    </div>
                    <input type="text" th:value="${boardInfo.id}" name="boardId" hidden/>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-secondary" onclick="location.href='/'" type="button">목록</button>
                        <button class="btn btn-primary me-md-2" type="submit">수정완료</button>
                    </div>
                </form>
            </div>
        </div>

    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/updateBoard.js"></script>
    </th:block>
</th:block>


</html>