<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/basic}"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Responsive navbar-->
<th:block layout:fragment="content">
    <!-- Page content-->
    <th:block layout:fragment="page_content" id="page_content">
        <div class="container">
            <div class="login-wrapper">
                <h3>글 상세</h3>

                <div>
                    <label>제목 :</label>
                    <a th:text="${boardInfo.title}" id="title"/>
                </div>
                <div>
                    <label>작성자 :</label>
                    <a th:text="${boardInfo.user.userName}" id="userName"/>
                </div>
                <br/>
                <div class="mb-3">
                    <textarea disabled class="form-control" id="summernote"
                              th:utext="${boardInfo.getContent().toString()}"
                              rows="3"></textarea>
                </div>
                <hr>
                <div class="card mb-2 mt-5">
                    <div class="card-header bg-light">
                        <i class="fa fa-comment fa"></i> 댓글작성하기
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <form method="POST" action="/comments">
                                    <input type="hidden" name="boardId" class="form-control"
                                           th:value="${boardInfo.id}">
                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                              placeholder="댓글을 입력하세요" name="content" rows="1"></textarea>
                                    <button type="submit" class="btn btn-primary mt-3">등록</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-header">댓글</div>
                    <ul id="reply--box" class="list-group" th:each="comment : ${comment}">
                        <li th:id="'rid' + ${comment.id} " class="list-group-item d-flex justify-content-between">
                            <div th:text="${comment.content}"></div>
                            <div class="d-flex">
                                <span class="text-monospace mr-1">작성자: </span>
                                <div class="text-monospace mr-1" th:text="${comment.user.userName}"></div>
                                <a class="badge btn-primary " data-toggle="collapse"
                                   th:data-target="${'#collapsePad'+comment.id}" aria-expanded="false"
                                   aria-controls="collapsePad" sec:authorize="isAuthenticated()"
                                   th:if="${principalDetails.getUser().getUserId() == comment.user.userId}">수정
                                </a>
                                <form method="post" th:action="@{/comments/{id}(id = ${comment.id})}">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button class="badge btn-danger" id="deleteComment"
                                            th:if="${principalDetails.getUser().getUserId() == comment.user.userId or principalDetails.getUser.getRole()=='ROLE_ADMIN'}">
                                        삭제
                                    </button>
                                </form>
                            </div>
                        </li>
                        <form method="post" th:action="@{/comments/{id}(id = ${comment.id})}">
                            <input type="hidden" name="_method" value="PUT"/>
                            <input type="hidden" name="boardId" class="form-control" th:value="${boardInfo.id}">
                            <input type="hidden" name="commentUserName" th:value="${comment.user.userName}"/>
                            <div class="collapse" th:id="'collapsePad'+${comment.id}">
                                <div class="well">
                                    <textarea class="form-control" placeholder="댓글을 수정하세요" name="content"></textarea>
                                </div>
                                <button>수정</button>
                            </div>
                        </form>
                    </ul>
                </div>

                <form method="post" action="/boards">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="hidden" th:value="${boardInfo.id}" name="boardId"/>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()"
                                th:if="${principalDetails.getUser().getUserId() == boardInfo.user.userId}"
                                th:onclick="'location.href=\''+ @{/boards/update/{id}(id = ${boardInfo.id})} + '\''">
                            수정
                        </button>
                        <button type="submit" class="btn btn-danger"
                                th:if="${principalDetails.getUser().getUserId() == boardInfo.user.userId
                                or principalDetails.getUser.getRole()=='ROLE_ADMIN'}">
                            삭제
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" onclick="location.href='/'">목록</button>
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/viewBoard.js"></script>
    </th:block>
</th:block>

</html>
